button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5;
    cursor: pointer;
}
button:hover{
    background-color:blueviolet ;
}
.boton-clic{
    background-color: green;
}
.boton-reiniciar{
    background-color:blue ;
}